Repository alutsu/desafio-ruby-on-rails: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, rubocop -a -c .rubocop.yml --fail-level E

.lintstagedrc.json:

{
  "*.js": ["eslint --fix", "git add"],
  "*.rb": ["rubocop -a -c .rubocop.yml --fail-level E", "git add"]
}

refactor: change test controller
  config/routes.rb
  spec/controllers/home_controller_spec.rb
  spec/factories/user.rb
  spec/models/user_spec.rb
Due: rubocop -a -c .rubocop.yml --fail-level E

refactor: change test controller
  spec/controllers/transactions_controller_spec.rb
Due: rubocop -a -c .rubocop.yml --fail-level E

feat: add some tests to transaction controller
  spec/controllers/transactions_controller_spec.rb
Due: rubocop -a -c .rubocop.yml --fail-level E

refactor: remove heroku from github action
  .github/workflows/ruby.yml
Due: none

chore: add simple cov
  Gemfile
  Gemfile.lock
Due: none

chore: add simple cov
  .gitignore
  .simplecov
  spec/spec_helper.rb
Due: rubocop -a -c .rubocop.yml --fail-level E

fix: address some erros for tailwind compile proccess
  app/javascript/css/application.css
  app/javascript/css/application.scss
  app/javascript/css/tailwind.js
  app/javascript/packs/application.js
  package.json
Due: eslint --fix

feat: add Procfile
  Procfile
Due: none

refactor: add yarn install to docker
  Dockerfile
  README.md
Due: none

refactor: update readme
  README.md
Due: none

refactor: insert github keys for the test
  config/initializers/devise.rb
Due: rubocop -a -c .rubocop.yml --fail-level E

refactor: add url to production
  README.md
Due: none

refactor: add env for production
  config/initializers/devise.rb
Due: rubocop -a -c .rubocop.yml --fail-level E

refactor: add positive and negative traits to transaction type factory
  spec/factories/transaction_types.rb
  spec/factories/transactions.rb
Due: rubocop -a -c .rubocop.yml --fail-level E

refactor: add positive and negative traits to transactions factory
  spec/factories/transactions.rb
Due: rubocop -a -c .rubocop.yml --fail-level E

fix: fix an error on where clause
  app/models/transaction.rb
Due: rubocop -a -c .rubocop.yml --fail-level E

refactor: add rand and change create for association
  spec/factories/transactions.rb
Due: rubocop -a -c .rubocop.yml --fail-level E

test: ensure Transaction calc_balance is valid
  spec/models/transaction_spec.rb
Due: rubocop -a -c .rubocop.yml --fail-level E

test: ensure TransactionHelper calc_balance is valid
  spec/helpers/transactions_helper_spec.rb
Due: rubocop -a -c .rubocop.yml --fail-level E

feat: add seeds to befire suite
  spec/rails_helper.rb
Due: rubocop -a -c .rubocop.yml --fail-level E

test: ensure HomeController upload is valid
  spec/controllers/home_controller_spec.rb
Due: rubocop -a -c .rubocop.yml --fail-level E

refactor: remove user_controller
  app/controllers/users_controller.rb
Due: rubocop -a -c .rubocop.yml --fail-level E

refactor: add filter for unused files
  .simplecov
Due: none

feat: add omniauth for integration test
  spec/rails_helper.rb
  spec/support/omniauth_macros.rb
Due: rubocop -a -c .rubocop.yml --fail-level E

feat: add setup for integration test on omniauth
  spec/rails_helper.rb
  spec/spec_helper.rb
  spec/support/omniauth_macros.rb
Due: rubocop -a -c .rubocop.yml --fail-level E

test: ensure login from github is valid
  app/models/user.rb
  spec/features/github_spec.rb
Due: rubocop -a -c .rubocop.yml --fail-level E

refactor: add files to simplecov ignore
  .simplecov
Due: none

refactor: update readme with tests instructions
  README.md
Due: none

refactor: update readme
  Dockerfile
  README.md
Due: none

refactor: remove puts
  spec/helpers/transactions_helper_spec.rb
  spec/models/transaction_spec.rb
Due: rubocop -a -c .rubocop.yml --fail-level E

Update README.md
  README.md
Due: none

refactor: change action name
  .github/workflows/ruby.yml
Due: none

refactor: update readme with action badge
  README.md
Due: none
