Repository alutsu/desafio-ruby-on-rails: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, rubocop -a -c .rubocop.yml --fail-level E

feat: test de auto linter
  .lintstagedrc.json
Due: none

feat: add eslint ignore
  .eslintignore
Due: none

feat: lint test
  .rubocop.yml
  Gemfile
  app/controllers/users_controller.rb
  app/views/users/index.json.jbuilder
  app/views/users/show.json.jbuilder
  bin/webpack
  bin/webpack-dev-server
  bin/yarn
  spec/rails_helper.rb
  spec/requests/users_spec.rb
  spec/routing/users_routing_spec.rb
  spec/spec_helper.rb
Due: rubocop -a -c .rubocop.yml --fail-level E

chore: install devise
  config/initializers/devise.rb
  config/locales/devise.en.yml
Due: rubocop -a -c .rubocop.yml --fail-level E

chore: setup user for devise
  app/controllers/application_controller.rb
  app/models/user.rb
  config/routes.rb
  db/migrate/20200828150321_add_devise_to_users.rb
  db/schema.rb
Due: rubocop -a -c .rubocop.yml --fail-level E

feat: add spec to ignore
  .rubocop.yml
Due: none

test: ensure User model are valid
  app/models/user.rb
  spec/models/user_spec.rb
Due: rubocop -a -c .rubocop.yml --fail-level E

chore: add factorybot and database_cleaner
  Gemfile
  Gemfile.lock
Due: none

chore: setup factorybot
  spec/rails_helper.rb
  spec/support/factory_bot.rb
Due: rubocop -a -c .rubocop.yml --fail-level E

feat: enable support files for test
  spec/rails_helper.rb
Due: rubocop -a -c .rubocop.yml --fail-level E

test: ensure admin is valid
  app/models/user.rb
Due: rubocop -a -c .rubocop.yml --fail-level E

test: add factory for user
  spec/factories/user.rb
Due: rubocop -a -c .rubocop.yml --fail-level E

test: add test for authenticated routes
  config/routes.rb
  spec/controllers/user_controller_spec.rb
  spec/rails_helper.rb
  spec/requests/users_spec.rb
  spec/routing/users_routing_spec.rb
  spec/support/controller_macros.rb
  spec/support/devise.rb
Due: rubocop -a -c .rubocop.yml --fail-level E

feat: add devise views
  app/controllers/application_controller.rb
  app/views/devise/confirmations/new.html.erb
  app/views/devise/mailer/confirmation_instructions.html.erb
  app/views/devise/mailer/email_changed.html.erb
  app/views/devise/mailer/password_change.html.erb
  app/views/devise/mailer/reset_password_instructions.html.erb
  app/views/devise/mailer/unlock_instructions.html.erb
  app/views/devise/passwords/edit.html.erb
  app/views/devise/passwords/new.html.erb
  app/views/devise/registrations/edit.html.erb
  app/views/devise/registrations/new.html.erb
  app/views/devise/sessions/new.html.erb
  app/views/devise/shared/_error_messages.html.erb
  app/views/devise/shared/_links.html.erb
  app/views/devise/unlocks/new.html.erb
Due: rubocop -a -c .rubocop.yml --fail-level E

chore: add rails-controller-testing
  Gemfile
  Gemfile.lock
Due: none

feat: add home view
  app/assets/stylesheets/home.scss
  app/controllers/home_controller.rb
  app/helpers/home_helper.rb
  app/views/home/index.html.erb
  app/views/home/upload.html.erb
  config/routes.rb
  spec/controllers/user_controller_spec.rb
Due: rubocop -a -c .rubocop.yml --fail-level E

refactor: change gem order
  Gemfile
Due: none

refactor: remove home controller pages
  Gemfile
  app/assets/stylesheets/home.scss
  app/controllers/home_controller.rb
  app/helpers/home_helper.rb
  app/views/home/index.html.erb
  app/views/home/upload.html.erb
  config/routes.rb
  spec/controllers/user_controller_spec.rb
Due: rubocop -a -c .rubocop.yml --fail-level E

feat: add home controller
  app/assets/stylesheets/home.scss
  app/controllers/home_controller.rb
  app/helpers/home_helper.rb
  app/views/home/index.html.erb
  app/views/home/upload.html.erb
  config/routes.rb
Due: rubocop -a -c .rubocop.yml --fail-level E

feat: add store db
  app/models/store.rb
  app/services/cnab_upload.rb
  db/migrate/20200828172121_create_stores.rb
  db/schema.rb
  spec/factories/stores.rb
  spec/models/store_spec.rb
Due: rubocop -a -c .rubocop.yml --fail-level E

feat: add transaction type model
  app/models/transaction_type.rb
  db/migrate/20200828174030_create_transaction_types.rb
  db/schema.rb
  spec/factories/transaction_types.rb
  spec/models/transaction_type_spec.rb
Due: rubocop -a -c .rubocop.yml --fail-level E

test: ensure TransactionType is valid
  app/models/transaction_type.rb
  spec/factories/transaction_types.rb
  spec/models/transaction_type_spec.rb
Due: rubocop -a -c .rubocop.yml --fail-level E

feat: add transaction model
  app/models/transaction.rb
  db/migrate/20200828175542_create_transactions.rb
  db/schema.rb
  spec/factories/transactions.rb
  spec/models/transaction_spec.rb
Due: rubocop -a -c .rubocop.yml --fail-level E

feat: ensure Transaction is valid
  app/assets/stylesheets/transactions.scss
  app/controllers/transactions_controller.rb
  app/helpers/transactions_helper.rb
  app/models/transaction.rb
  app/models/transaction_type.rb
  app/views/transactions/index.html.erb
  config/routes.rb
  db/migrate/20200828175542_create_transactions.rb
  db/schema.rb
  spec/factories/transactions.rb
  spec/models/transaction_spec.rb
Due: rubocop -a -c .rubocop.yml --fail-level E

feat: add routes and logic to upload and read the cnab
  app/controllers/home_controller.rb
  app/services/cnab_upload.rb
  config/routes.rb
  db/seeds.rb
Due: rubocop -a -c .rubocop.yml --fail-level E

feat: setup tailwindcss
  app/javascript/css/application.css
  app/javascript/css/tailwind.js
  app/javascript/packs/application.js
  app/views/home/index.html.erb
  app/views/layouts/application.html.erb
  package.json
  postcss.config.js
  yarn.lock
Due: eslint --fix

feat: setup tailwind ui
  app/javascript/css/tailwind.js
  package.json
  yarn.lock
Due: eslint --fix

refactor: remove redundant route
  config/routes.rb
Due: rubocop -a -c .rubocop.yml --fail-level E

feat: add ransack
  Gemfile
  Gemfile.lock
Due: none

feat: add vscode folder to ignore
  .gitignore
Due: none

feat: add upload file and save cnab function
  _docker-compose.override.yml
  app/controllers/home_controller.rb
  app/controllers/transactions_controller.rb
  app/services/cnab_upload.rb
  app/views/home/index.html.erb
  app/views/transactions/index.html.erb
Due: rubocop -a -c .rubocop.yml --fail-level E

feat: add header and some improvements
  Gemfile.lock
  app/controllers/transactions_controller.rb
  app/helpers/transactions_helper.rb
  app/models/transaction.rb
  app/services/cnab_upload.rb
  app/views/layouts/_header.html.erb
  app/views/layouts/application.html.erb
  app/views/transactions/_transaction.html.erb
  app/views/transactions/index.html.erb
Due: rubocop -a -c .rubocop.yml --fail-level E

chore: add kaminari
  Gemfile
  Gemfile.lock
Due: none

feat: add pagination
  app/controllers/transactions_controller.rb
Due: rubocop -a -c .rubocop.yml --fail-level E

feat: add pagination
  app/views/kaminari/_first_page.html.erb
  app/views/kaminari/_gap.html.erb
  app/views/kaminari/_last_page.html.erb
  app/views/kaminari/_next_page.html.erb
  app/views/kaminari/_page.html.erb
  app/views/kaminari/_paginator.html.erb
  app/views/kaminari/_prev_page.html.erb
  app/views/layouts/_header.html.erb
  app/views/transactions/index.html.erb
  config/locales/en.yml
Due: none

refactor: change title
  app/views/layouts/application.html.erb
Due: none

chore: add omniauth-github
  Gemfile
  Gemfile.lock
Due: none

feat: add registration and login
  app/controllers/omniauth_callbacks_controller.rb
  app/models/user.rb
  app/views/devise/registrations/new.html.erb
  app/views/devise/sessions/new.html.erb
  app/views/home/index.html.erb
  app/views/layouts/application.html.erb
  config/initializers/devise.rb
  config/initializers/github.rb
  config/routes.rb
  db/migrate/20200828224559_add_omniauth_to_users.rb
  db/migrate/20200828231931_change_default_admin_to_users.rb
  db/schema.rb
Due: rubocop -a -c .rubocop.yml --fail-level E

chore: add circleci
  .circleci/config.yml
Due: none

chore: remove circleci and add github action
  .circleci/config.yml
  .github/workflows/ruby.yml
Due: none

Path conditions:
  eslint --fix: any of: *.js
  rubocop -a -c .rubocop.yml --fail-level E: any of: *.rb
